*

!*/

!README.md
!.gitignore
!sonoh.py
!rcj18.py
!wrs18.py
!iscas19.py
!rc.py
!amygdala/__init__.py
!amygdala/layer/__init__.py
!amygdala/layer/la.py
!amygdala/layer/la_uint.py
!amygdala/layer/la_rc.py
!amygdala/layer/ce.py
!amygdala/layer/ce_uint.py
!amygdala/layer/ce_lvq.py